.breadcrumb > li{
    display: inline;
}

.breadcrumb li+li::before {
	padding: 52px;
  content: " ";
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  text-align: center;
}

.centerinline{
  text-align: center;
  display: inline;
}

*{
    color: red;
    background-color: black;
    font-family: "deadly-killers";
    font-size: 25px;
    letter-spacing: 3px;
}

@font-face {
    font-family: "deadly-killers";
    src: url("font/deadly-killers.ttf");
  }

@font-face {
  font-family: "norse";
  src: url("font/Norsebold.otf");
}

.otherfont{
  font-family: "norse";
}

#group{
  width: 50%;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 35%;
}

.tablecenter{
  margin-left: 250px;
}

.tableimg{
  margin-left: 250px;
}

.videocenter{
  margin-left: 322px;
}

.contactimg{
  width: 100px;
  display: inline;
}

.musicimg{
  width:100px;
}

.amusicimg{
  height: 100px;
}

.about{
  text-align: justify;
  text-align-last: center;
}

/*#logo{
*/

