.breadcrumb > li{
  display: inline;
}

.breadcrumb li+li::before {
	padding: 50px;
  content: " ";
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#buy{
  text-align: center;
}

.centerinline{
  text-align: center;
  display: inline;
}

*{
    color: red;
    background-color: black;
}

@font-face {
    font-family: "deadly-killers";
    src: url("font/deadly-killers.ttf");
  }

@font-face {
  font-family: "norse";
  src: url("font/Norsebold.otf");
}

.killerfont{
  font-family: "deadly-killers";
  font-size: 25px;
  letter-spacing: 2px;
  text-align: justify;
  text-align-last: center;
}

.norsefont{
  font-family: "norse";
  font-size: 30px;
}

.warning{
  text-align: justify;
  text-align-last: center;
}

#group{
  width: 50%;
}

#poster {
  width: 35%;
}

.table{
  margin-left: 250px;
}

.contactimg{
  width: 100px;
  margin-left: 6.5%;
}

.contactimgl{
  width: 100px;
  margin-left: 26.5%;
}

.musicimg{
  width: 100px;
  margin-left: 6.5%;
}

#contact{
  font-size: x-large;
  text-align: justify;
  text-align-last: center;
}

#cover{
  width: 30%;
}

#arrow{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
}

#bigtext{
  font-size: xx-large;
}